.panel-heading.conversation-heading
  %span.contact-name-notif= @recipient.name
= link_to 'X', close_private_conversation_path(conversation), class: 'close-conversation', title: 'Close', method: :post, remote: true
