%li#hobby.list-group-item.bg-dark.mb-2
  = link_to hobby_posts_path, class: 'text-white' do
    %i.fa.fa-user.mr-2{"aria-hidden": true}
    %span Find a hobby buddy
%li#study.list-group-item.bg-dark.mb-2
  = link_to study_posts_path, class: 'text-white' do
    %i.fa.fa-graduation-cap.mr-2{"aria-hidden": true}
    %span Find a study buddy
%li#hobby.list-group-item.bg-dark.mb-2
  = link_to team_posts_path, class: 'text-white' do
    %i.fa.fa-users.mr-2{"aria-hidden": true} 
    %span Find a team member
