%li.nav-item.dropdown
  %a#user-settings.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
    = current_user.name
  .dropdown-menu{"aria-labelledby" => "navbarDropdown"}
    = link_to 'Edit Profile', edit_user_registration_path, class: 'dropdown-item'
    .dropdown-divider
    = link_to 'Logout', destroy_user_session_path, method: :delete, class: 'dropdown-item'
