<div class="row">
  <div id="side-menu" class="d-none d-md-block col-md-3">
    <h1>side page</h1>
  </div>

  <div id='main-content' class="bg-white col-md-9">
    <h1>main content</h1>
  </div>
</div>