@import "~bootstrap/scss/bootstrap";

$navbarColor: #323738;

body {
  margin-top: 50px;
}

.solid-color-mode,
.border-color-mode {
  .post-text {
    text-align: center;
  }
}

.solid-color-mode {
  .post-text {
    padding: 10px;
    background-color: white;
    border-radius: 25px;
  }
}

.border-color-mode {
  background-color: white;
}

@media screen and (max-width: 768px) {
  #side-menu {
    display: none !important;
  }
}
